@media (max-width: 1120px) {
  .slider_section .detail-box .btn-box a {
    margin-bottom: 10px;
  }

  .slider_section .play_btn {
    right: 25%;
  }
}


@media (max-width: 991px) {
  .custom_nav-container .navbar-collapse {
    background-color: #ffffff; 
    position: absolute;
    top: 100px; 
    left: 0;
    width: 100%;
    z-index: 99998;
    padding: 10px;
    display: none;
  }

  .custom_nav-container .navbar-collapse.show {
    display: block;
  }

  .navbar-nav {
    flex-direction: column;
    text-align: left;
  }

  .navbar-nav .nav-item {
    margin: 0;
    border-bottom: 1px solid #ddd; 
  }

  .navbar-nav .nav-item .nav-link {
    color: #060606; 
    padding: 10px;
  }

  .navbar-nav .dropdown {
    padding-left: 15px;
  }

  .navbar-toggler {
    border: none;
    outline: none;
    margin-left: 7rem;
  }

  .custom_menu-btn {
    display: none;
  }
  #navbarSupportedContent {
    margin-left: 0;
  }

  /* hide dropdown for mobile */
  ul li:hover ul.dropdown {
    display: none;
  }
  .card-body{
    padding: 5px;
  }
 
  
}


@media (max-width: 768px) {
  .hero_area {
    height: 70vh;
  }
  #about_sec {
    padding-top: 0;
}
.card{
  height: auto;
}

.privacy_terms h5{
  margin-left: 0;
}
.links_privacy{
  margin-left: 0;
}
.links_terms{
  margin-left: 0;
}
.privacy_terms{
  margin-bottom: 10px;
}


  .sub_page .hero_area{
    height: 50vh;
  }
.card{
  margin-top: 5rem;
}
.aluminium2_heading{
  margin-top: 6rem;
}
.fourcard {
  margin-top: -40px; 
}
.card_all{
  margin-top: -70px;
}
  .slider_section {
    text-align: center;
  }
  .carousel-item{
    height: 67vh;
    margin-top: 7rem;
  }
  #img-about-home{
    margin-top: 2rem;
  }
  #heading-home{
    margin-top: 3rem;
  }



  .slider_section .img-container {
    justify-content: center;
  }
#hero_area_about {
  height:40vh;
}
#hero_area_services{
  height: 40vh;
}
#hero_area_contact{
  height: 40vh;
}
#hero_area_services_aluminium{
  height: 40vh;
}
#hero_area_services_car{
  height: 40vh;
}
#hero_area_services_metal{
  height: 40vh;
}
#hero_area_services_pvc{
  height: 40vh;
}
#hero_area_services_ubc{
  height: 40vh;
}
#hero_area_services_oldtyre{
  height: 40vh;
}
#hero_area_services_paper{
  height: 40vh;
}
#hero_area_services_plastic{
  height: 40vh;
}
.layout_padding{
  padding-top: 0;
}
#section-contact{

padding-top: 50px;

}
#contact_sec{
  padding-top: 50px;
}
#services-sec{
  padding-top: 50px;

}


  .slider_section .play_btn {
    top: initial;
    bottom: 450px;
    right: 50%;
    transform: translate(50%, 50%);
  }

  .carousel-control.prev {
    display: none;
  }
  .carousel-control.next{
    display: none;
  }

 

  .slider_section .detail-box h1 span {
    font-size: 4rem;
  }

  .slider_section .img-box {
    margin: 40px 0;
  }

  .slider_section .img-box {
    margin-top: 125px;
    margin-bottom: 90px;
  }

  .slider_section .carousel-indicators {
    bottom: 25px;
  }
.alldetails{
  margin-top: 2rem;
}
.aluminium_para{
  margin-top: 2rem;
  text-align: justify;
}
  .slider_section .carousel-indicators li {
    background-color: #fefefe;
  }
  #hero_area_about{
    background-attachment:scroll ;
  }
  .textpvc h2 {
    font-size: 2.7rem;
    margin-top: 3rem;
  }
  #hero_area_services{
    background-attachment:scroll ;
  }
  #hero_area_services_metal{
    background-attachment:scroll ;
  }
  #hero_area_services_aluminium{
    background-attachment:scroll ;
  }
  #hero_area_services_car{
    background-attachment:scroll ;
  }
  #hero_area_services_paper{
    background-attachment:scroll ;
  }
  #hero_area_services_ubc{
    background-attachment:scroll ;
  }
  #hero_area_services_pvc{
    background-attachment:scroll ;
  }
  .slider_section .number_box {
    display: none;
  }

  .about_section .detail-box {
    margin-bottom: 45px;
  }

  .discount_section .detail-box {
    margin-bottom: 45px;
  }

  .discount_section .detail-box {
    text-align: center;
  }



  .discount_section .detail-box h2 {
    padding: 0;
  }

  .client_section .client_container {
    flex-direction: column;
  }

  .client_section .client_box.b-1 {
    margin-bottom: 45px;
  }

  .info_section .col-md-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 15px 0;
  }

  .info_section .box {
    justify-content: center;
  }

  .info_section .box {

    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact_section form {
    padding: 0;
    margin-bottom: 45px;
  }

  .info_section .info_form .social_box {
    justify-content: center;
  }

  .info_section .info_form .social_box a {
    margin: 0 10px;
  }

  .contact_section .map_container {
    padding: 0;
  }
}

@media (max-width: 576px) {
  .slider_section .detail-box h1 {
    font-size: 2.5rem;
  }

  .slider_section .detail-box h1 span {
    font-size: 3.5rem;
  }

  .slider_section .play_btn,
  .slider_section .play_btn a {
    width: 55px;
    height: 55px;
  }



  .slider_section .play_btn img {
    width: 15px;
  }
}

@media (max-width: 480px) {}

@media (max-width: 420px) {
  .slider_section .detail-box h1 {
    font-size: 2rem;
  }

  .slider_section .detail-box h1 span {
    font-size: 3rem;
  }
}

@media (max-width: 360px) {}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}






